# ==========================================
# Application
# ==========================================

NODE_ENV=development
PORT=5000
API_PREFIX=api
APP_NAME=CommerceOS

# ==========================================
# Database
# ==========================================

DATABASE_URL="postgresql://postgres:password@localhost:5432/commerceos?schema=public"

# ==========================================
# Authentication
# ==========================================

JWT_ACCESS_SECRET=your-access-secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

# ==========================================
# CORS
# ==========================================

FRONTEND_URL=http://localhost:3000

# ==========================================
# Cloudinary
# ==========================================

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ==========================================
# Swagger
# ==========================================

SWAGGER_ENABLED=true

# ==========================================
# Logging
# ==========================================

LOG_LEVEL=debug

# ==========================================
# Mail
# ==========================================
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=